@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.homepage {
  padding: 35px 0 35px 50px;
  /* displa/y: flex; */
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
}

.logo img {
  height: 30px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 50px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

main div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  :50px ;
}

.carousel {
  display: flex;
  overflow-x: scroll;
}

.carousel img {
  height: 120px;
  width: 220px;
  object-fit: cover;
  object-position: center;
}
